*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  background-color: #BA9A7F;
  font-family: cursive;
  font-size: 1.5rem;
  margin: 10px;
}
.NavBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color:#E0BA99;
  padding: 10px;
}
.NavBar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.NavBar-btn{
  border: none;
  background-color: transparent;
  font-family: cursive;
  cursor: pointer;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
}
.NavBar img{
  width: 100px;
}
h1{
  font-size: 1.5rem;
}
h2{
  display: flex;
  justify-content:center ;
}
.footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:#E0BA99;
  padding: 10px;
}
.propiedad{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.img-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.img-inicio img{
  width: 80%;
}
.tarjeta{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: black solid;
  margin: 20% auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  height: auto;
  background-color:#E0BA99;
  box-shadow: 5px 5px 5px;
  gap: 10px;
}

.Detalles-btn{
  display: flex;
  margin: 1% auto;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: cursive;
  cursor: pointer;
  font-size: 1.5rem
}
.contador{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: black solid;
  margin: 1% auto;
  padding:10px;
  gap: 10px;
  width: 80%;
  height: auto;
  background-color:#BA9A7F;
}
.imgs{
  width: 250px;
  height: 200px;
  padding-top:10px;
}
.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  border: solid black;
  width: 30%;
  margin: 2% auto;
  padding: 0 0 10px 0;
  background-color: #E0BA99;
}
form{
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
input{
  text-align: center;
  font-family: cursive;
  font-size: 1rem;
}
.loader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
